<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958786103937-3s6ev3kknedarmup13bcffseqenfsrkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958786103937-3s6ev3kknedarmup13bcffseqenfsrkp</string>
	<key>API_KEY</key>
	<string>AIzaSyAhGfJtc-vNt8zkqR6Qe1nCpa4TwRKG27A</string>
	<key>GCM_SENDER_ID</key>
	<string>958786103937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.learn</string>
	<key>PROJECT_ID</key>
	<string>learn-98d05</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-98d05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958786103937:ios:81f47f3fb53d149ed03b80</string>
</dict>
</plist>